html {
    font-size: 62.5%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", SimSun, sans-serif;
    color: #333;
    font-size: 12px;
    min-width: 320px;
}
ul,ol {
    list-style: none;
}
i,em,var,tt{
    font-style: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,input,textarea,article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary,button{
    margin: 0;
    padding: 0;
}
img{
   display: block;
   border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
input, img {
    vertical-align:middle;
}
a:link,a:visited{
    text-decoration: none;
}
/*元素被点击的时候产生的背景颜色（各个浏览器有默认颜色）*/
a, li, input, button, section, span, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
/* 去除webkit浏览器对input默认样式*/
input,textarea {
    -webkit-appearance:none;
    outline: 0;
}
button{
    border:0;
    outline: none;
}
